@{
    ViewData["Title"] = "Login";
}


@{
    ViewBag.Username = "hello";
}

<form action="" method="POST" autocomplete="off">
    <h2 class="text-center text-primary">Log in</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username"  >
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password"  >
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Log in</button>
        <button class="btn btn-danger mr-2" onclick="window.location.href='/'" type="button">Cancel</button>
    </div>
</form> 

